[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

/* INDEX */
html {
    height: 100%;
    width: 100%;
    cursor: default;
    overflow: none;
    color: #696969;
}
#divContainer {
    max-width: 800px;
    min-width: 650px;
    min-height: 450px;
    margin: 5% auto;
    text-align: center;
    border: 1px solid #DCD;
    font-size: 1.2em;
}
#divHeader {
    min-height: 100px;
}
#divBody {
    min-height: 350px;
}
.loader {
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    z-index:993;
    background:url(../data/loader.gif) 50% 50% no-repeat #f9f9f9;
}
.unselectable {
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
}

/* HOME */
.row {
    margin: 25px;

}
.textBox {
    padding: 21px;
    font-size: 1em;
}
.linkButton:hover {
    background: none;
    color: #008B8B;
    border: 2px solid #66CDAA;
}
.linkButton {
    display: block;
    width: 150px;
    margin: 5% 41% 0;
    padding: 10px;
    border-radius: 5px;
    background-color: #66CDAA;
    color: #FFF;
    font-weight: bolder;
    text-decoration: none;   
}
.equalHalf {
    width: 46%;
    display: inline-block;
}
.alignLeft {
    text-align: left;
    padding-left: 10px;
}
.alignRight {
    text-align: right;
    padding-right: 10px;
}
.disabled{
    background-color: #DCDCDC;
}
.disabled:hover{
    background-color: #DCDCDC;
    color: #FFF;
    border: none;
    cursor: default;
}
