/*[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}*/


html {
    height: 100%;
    width: 100%;
    cursor: default;
    overflow: none;
}

#divContainer {
    max-width: 800px;
    min-height: 450px;
    margin: 5% auto;
    text-align: center;
    border: 1px solid #DCD;
}
#divHeader {
    min-height: 100px;
}
#divBody {
    min-height: 350px;
}


.row {
    margin: 25px;

}
.textBox {
    padding: 21px;
}
.linkButton {
    display: block;
    width: 150px;
    margin: 10% 41% 0;
    padding: 10px;
    border-radius: 5px;
    color: #000;
    font-weight: bolder;
    text-decoration: none;
    border: 3px solid #F41;
}
.equalHalf {
    width: 46%;
    display: inline-block;
}
.alignLeft {
    text-align: left;
    padding-left: 10px;
}
.alignRight {
    text-align: right;
    padding-right: 10px;
}

