<span ng-if="vm.viewType==='artist'">
    
    <!--RESULT ARTISTS-->
    
    <span ng-repeat="(key,val) in vm.result.jsonStr.artists">
        <div><span ng-if="key==='items'">
            <span ng-repeat="(keyName, elems) in val" class="resultBlock unselectable" ng-click="vm.resultClick(elems.href, 'album')">
                <div >
                    <span title="">{{elems.name}}</span>
                    <span class="followersMeta">followers:{{elems.followers.total | number}}</span>
                    <img class="imgThumb" src="{{elems.images[0].url}}" ng-show="{{elems.images.length>0}}">
                </div>
            </span>
        </span></div>
        <div>
            <span ng-if="key==='previous'">
                <span ng-show="val!==null" class="travButton unselectable floatLeft" ng-click="vm.traversePage(val)">Previous</span>
            </span>
            <span ng-if="key==='next'">
                <span ng-show="val!==null" class="travButton unselectable floatRight" ng-click="vm.traversePage(val)">Next</span>
            </span>
        </div>
        <span ng-if="key==='total'" class="dataBlock">
            Total results: {{val}}
            <div ng-show="vm.counter.end > 0">
                showing ({{vm.counter.start}} - {{vm.counter.end}})
            </div>
        </span>
    </span>
</span>
<span ng-if="vm.viewType!=='artist'">
    
    <!--ARTIST'S ALBUMS / SONGS-->
    
    <h3 class="floatLeft extraMargin">{{vm.viewType | uppercase}}S</h3>
    <div>
        <span ng-repeat="(key, val) in vm.result.jsonStr.items" >
            <span ng-if="vm.viewType==='song'" class=" unselectable listView">
                <span>{{val.name}}</span>
                <div>
                    <img class="imgThumb" src="{{val.images[0].url}}" ng-show="{{val.images.length>0}}">
                </div>
            </span>
            <span ng-if="vm.viewType !== 'song'" ng-click="vm.resultClick(val.href, 'song')" class="resultBlock unselectable ">
                <span>{{val.name}}</span>
                <div>
                    <img class="imgThumb" src="{{val.images[0].url}}" ng-show="{{val.images.length>0}}">
                </div>
            </span>
        </span>
    </div>
    <div>
        <span ng-show="vm.result.jsonStr.previous !== null" class="travButton unselectable floatLeft" ng-click="vm.traversePage(vm.result.jsonStr.previous)">
            Previous
        </span>
        <span ng-show="vm.result.jsonStr.next !== null" class="travButton unselectable floatRight" ng-click="vm.traversePage(vm.result.jsonStr.next)">
            Next
        </span>
    </div>
    <span class="dataBlock">
        Total results: {{vm.result.jsonStr.total}}
        <div ng-show="vm.counter.end > 0">
            showing ({{vm.counter.start}} - {{vm.counter.end}})
        </div>
    </span>
</span>
<!--<span ng-if="vm.viewType==='song'">
    
    ARTIST'S SONGS
    
    SONGS HERE
</span>-->