

<div ng-controller="HomeCtrl as home">
    <div class="row">
        <span class="equalHalf alignRight">Search by Artist:</span>
        <span class="equalHalf alignLeft"><input id="txtArtist" class="textBox" name="txt_artist" ng-model="home.artistName" type="text" maxlength="23" placeholder="Limit to 25 characters"></span>
    </div>

    <div class="row">
        <span class="equalHalf alignRight"><label >Search by Song:</label></span>
        <span class="equalHalf alignLeft"><input id="txtSong" class="textBox" name="txt_song" ng-model="home.songName" type="text" maxlength="23" placeholder="Limit to 25 characters"></span>
    </div>
    
    <a class="row linkButton" ng-click="btnShowClick" href>Show</a>
</div>