

<div >
    <div class="row"><label for="txt_artist">Search by Artist:</label>
    <input id="txtArtist" class="textBox" name="txt_artist" ng-model="artistName" type="text" maxlength="18" placeholder="Limit to 20 characters">
    </div>

    <div class="row"><label for="txt_song">Search by Song:</label>
    <input id="txtSong" class="textBox" name="txt_song" ng-model="artistName" type="text" maxlength="18" placeholder="Limit to 20 characters">
    </div>
    
    
    <div class="row"><a ng-click="btnShowClick" href class="linkButton">Show</a></div>
</div>